.helpselect{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-container{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help-container1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  width: 100%;
}

select{
  width: 20%;
}

h3{
  width: 80%;
}
.dropdown {
  margin-left: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid orangered;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
  border-color: orangered;
  background-color: orangered;
  color: white;
}
option:hover {
  background-color: rgb(250, 175, 45);
}

.dropdown:focus-visible {
  outline: none; 
}

option:checked {
  background-color: rgb(250, 175, 45);
  color: white;
}

.help-container>h4{
  text-align: start;
}