.available-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.availablepet{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.availablepet ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.adoptcard {
    width: calc(33.33% - 20px); 
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.adoptcard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.availablepetimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.adoptcard h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.adoptcard img {
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    object-fit: cover;
}

.adoptcard p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .adoptcard {
        width: calc(50% - 20px); /* 2 cards per row on tablets */
    }
}

@media (max-width: 480px) {
    .adoptcard {
        width: 100%; /* 1 card per row on mobile */
    }
}
